html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*{
    box-sizing: border-box;
}

body {
	padding: 3dvh 0px;
	font-family: "Roboto", sans-serif;
	color: white;
    background-color: black;
}

.container {
	height: 94dvh;
	width: 500px;
	margin: auto;
	padding: 50px;
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #75e6d8 100%);
	border-radius: 75px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/* HEADER */

header {
	font-size: 1.5rem;
	height: 45px;
	display: flex;
	gap: 10px;
	user-select: none;
}
.search {
	width: 350px;
	padding: 0px 20px;
	background-color: white;
	border-radius: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
#searchBtn {
	display: grid;
	place-items: center;
	user-select: none;
}
#searchBtn:active{
	transform: scale(0.8);
}
.search svg {
	height: 25px;
	fill: grey;
}
input {
	font-size: 1.25rem;
	height: 42px;
	background: none;
	border: none;
}
input:focus {
	outline: none;
}
#toggle {
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
	width: 45px;
	background-color: white;
	border: none;
	border-radius: 25px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	display: grid;
	place-content: center;
	transition: all 0.1s linear;
	user-select: none;
}
#toggle:active {
	transform: translateY(5px);
}

/* Main */

main {
	height: 400px;
	width: 300px;
	font-size: 3rem;
	user-select: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0px;
	position: relative;
	bottom: 50px;
}
.temperature {
	position: relative;
}
#temp {
	font-size: 7rem;
	margin-top: 30px;
}
#temp .unit {
	font-size: 2.5rem;
	vertical-align:super;
}
#feels {
	font-size: 1.25rem;
	position: relative;
	bottom: 20px;
}
#feels .unit {
	font-size: 0.75rem;
	vertical-align: super;
}
#icon {
	width: 275px;
}

/* Footer */

footer {
	font-size: 1.5rem;
	user-select: none;
}



#madeBy {
	font-size: 0.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: absolute;
	top: 100%;
}
#madeBy a{
	color: white;
}
#madeBy svg {
	width: 21px;
	fill: white;
}